body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.wrapper .col1 {
    width: 20%;
    background-color: lightblue;
}

.col1 nav {
    text-align: center;
}


a {
    text-decoration: none;
}

.vNav a {
    font-size: 20px;
    font-family: sans-serif;
}

.wrapper .col1 img {
    width: 150px;
    height: 150px;
}


.wrapper .col2 {
    width: 80%;
    background-color: lightgray;
    flex: 1;
}

.col2 h2 {
    color: blue;
    font-style: italic;

    padding: 0 15px;
}

ul {
    list-style: none;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: red;
}

a:hover {
    color: red;
}

/* Start Details */
.wrapper .dd-col2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    gap: 10px;
}

.details {
    padding: 15px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.results {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.results h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    background-color: lightcyan;
    width: 100%;
}

.results th {
    background-color: pink;
}

.results th,
td {
    text-align: center;
    border: 1px solid lightblue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* End Details */

/* Start App vNav */
.vNav ul {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 0;
    padding-inline: 0;
}

.vNav li {
    border: 1px solid black;
    width: 100%;
    padding: 35px;
    text-align: center;
}

/* End App vNav */

/* start Breadcrumbs */

.breadcrumbs-wrapper .home,
.middle,
.last {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}


.breadcrumbs-wrapper .last {
    background-color: lightskyblue;
    color: whitesmoke;
}

/* end Breadcrumbs */